################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Infinity II/Infinity/Infinity.VC.db
/Infinity II/Infinity/Infinity.VC.VC.opendb
